@charset "UTF-8";

html {
    font-family:'Open Sans',sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

body {
    margin:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display:block
}

audio,canvas,progress,video {
    display:inline-block;
    vertical-align:baseline
}

audio:not([controls]) {
    display:none;
    height:0
}

[hidden],template {
    display:none
}

a {
    -webkit-transition:all .15s ease-in-out;
    -moz-transition:all .15s ease-in-out;
    transition:all .15s ease-in-out;
    background:transparent;
    color:#0c7d3f;
    text-decoration:none;
    font-weight:700
}

a:hover {
    text-decoration:underline
}

a:active,a:hover {
    outline:0
}

abbr[title] {
    border-bottom:1px dotted
}

b,strong {
    font-weight:700
}

dfn {
    font-style:italic
}

h1 {
    font-size:2em;
    margin:.67em 0
}

h1,h2,h3,h4,h5,h6 {
    line-height:1.15;
    font-weight:400;
    margin-bottom:.5em
}

mark {
    background:#ff0;
    color:#000
}

small {
    font-size:80%
}

sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}

sup {
    top:-.5em
}

sub {
    bottom:-.25em
}

img {
    border:0;
    max-width:100%;
    height:auto
}

svg:not(:root) {
    overflow:hidden
}

figure {
    margin:1em 40px
}

hr {
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0
}

pre {
    overflow:auto
}

code,kbd,pre,samp {
    font-family:monospace,monospace;
    font-size:1em
}

button,input,optgroup,select,textarea {
    color:inherit;
    font:inherit;
    margin:0
}

button {
    overflow:visible
}

button,select {
    text-transform:none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance:button;
    cursor:pointer
}

button[disabled],html input[disabled] {
    cursor:default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border:0;
    padding:0
}

input {
    line-height:normal
}

input[type="checkbox"],input[type="radio"] {
    box-sizing:border-box;
    padding:0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height:auto
}

input[type="search"] {
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none
}

fieldset {
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}

legend {
    border:0;
    padding:0
}

textarea {
    overflow:auto
}

optgroup {
    font-weight:700
}

table {
    border-collapse:collapse;
    border-spacing:0
}

td,th {
    padding:0
}

html,button,input,select,textarea {
    color:#444
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:0
}

html {
    font-size:62.5%
}

body {
    font-size:16px;
    font-size:1.6rem;
    line-height:1.5;
    background-image:url(../img/purty_wood.jpg);
    background-color:#eac184;
    min-width:320px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min--moz-device-pixel-ratio: 1.3),only screen and (-o-min-device-pixel-ratio: 1.3 1),only screen and (min-resolution: 125dpi),only screen and (min-resolution: 1.3dppx) {
    body {
        background-image:url(../img/purty_wood@2x.jpg);
        background-size:400px 400px
    }
}

.page-wrapper {
    padding:14px 0 0;
    background:#fff;
    margin:0 auto;
    max-width:1064px;
    box-shadow:0 0 20px 0 rgba(0,0,0,0.5)
}

@media screen and (min-width: 600px) {
    .page-wrapper {
        padding:36px 0
    }
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0
}

audio,canvas,img,video {
    vertical-align:middle
}

fieldset {
    border:0;
    margin:0;
    padding:0
}

textarea {
    resize:vertical
}

.browsehappy {
    margin:.2em 0;
    background:#ccc;
    color:#000;
    padding:.2em 0
}

.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {
    outline:none
}

.slides,.flex-control-nav,.flex-direction-nav {
    margin:0;
    padding:0;
    list-style:none
}

@font-face {
    font-family:'flexslider-icon';
    src:url(../fonts/flexslider-icon.eot);
    src:url(../fonts/flexslider-icon%EF%B9%96.eot#iefix) format("embedded-opentype"),url(../fonts/flexslider-icon.woff) format("woff"),url(../fonts/flexslider-icon.ttf) format("truetype"),url(../fonts/flexslider-icon.svg#flexslider-icon) format("svg");
    font-weight:400;
    font-style:normal
}

.flexslider {
    margin:0;
    padding:0
}

.flexslider .slides>li {
    display:none;
    -webkit-backface-visibility:hidden
}

.flexslider .slides img {
    width:100%;
    display:block
}

.flex-pauseplay span {
    text-transform:capitalize
}

.slides:after {
    content:"\0020";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0
}

html[xmlns] .slides {
    display:block
}

* html .slides {
    height:1%
}

.no-js .slides>li:first-child {
    display:block
}

.flexslider {
    margin:0;
    position:relative;
    zoom:1
}

.flex-viewport {
    max-height:2000px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease
}

.loading .flex-viewport {
    max-height:300px
}

.flexslider .slides {
    zoom:1
}

.carousel li {
    margin-right:5px
}

.flex-control-nav {
    width:100%;
    position:absolute;
    bottom:-40px;
    text-align:center
}

.flex-control-nav li {
    margin:0 6px;
    display:inline-block;
    zoom:1;
    *display:inline
}

.flex-control-paging li a {
    width:11px;
    height:11px;
    display:block;
    background:#666;
    background:rgba(0,0,0,0.5);
    cursor:pointer;
    text-indent:-9999px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
    -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 3px rgba(0,0,0,0.3)
}

.flex-control-paging li a:hover {
    background:#333;
    background:rgba(0,0,0,0.7)
}

.flex-control-paging li a.flex-active {
    background:#000;
    background:rgba(0,0,0,0.9);
    cursor:default
}

.flex-control-thumbs {
    margin:5px 0 0;
    position:static;
    overflow:hidden
}

.flex-control-thumbs li {
    width:25%;
    float:left;
    margin:0
}

.flex-control-thumbs img {
    width:100%;
    display:block;
    opacity:.7;
    cursor:pointer
}

.flex-control-thumbs img:hover {
    opacity:1
}

.flex-control-thumbs .flex-active {
    opacity:1;
    cursor:default
}

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity:1;
        left:10px
    }

    .flex-direction-nav .flex-next {
        opacity:1;
        right:10px
    }
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp {
    padding:0;
    margin:0;
    border:0;
    outline:none;
    vertical-align:top
}

.fancybox-wrap {
    position:absolute;
    top:0;
    left:0;
    z-index:8020
}

.fancybox-skin {
    position:relative;
    background:#f9f9f9;
    color:#444;
    text-shadow:none
}

.fancybox-opened {
    z-index:8030
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);
    -moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);
    box-shadow:0 10px 25px rgba(0,0,0,0.5)
}

.fancybox-outer,.fancybox-inner {
    position:relative
}

.fancybox-inner {
    overflow:hidden
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling:touch
}

.fancybox-error {
    color:#444;
    font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0;
    padding:15px;
    white-space:nowrap
}

.fancybox-image,.fancybox-iframe {
    display:block;
    width:100%;
    height:100%
}

.fancybox-image {
    max-width:100%;
    max-height:100%
}

#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span {
    background-image:url(../js/libs/fancybox/fancybox_sprite.png)
}

#fancybox-loading {
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-22px;
    margin-left:-22px;
    background-position:0 -108px;
    opacity:.8;
    cursor:pointer;
    z-index:8060
}

#fancybox-loading div {
    width:44px;
    height:44px;
    background:url(../js/libs/fancybox/fancybox_loading.gif) center center no-repeat
}

.fancybox-close {
    position:absolute;
    top:-18px;
    right:-18px;
    width:36px;
    height:36px;
    cursor:pointer;
    z-index:8040
}

.fancybox-nav {
    position:absolute;
    top:0;
    width:40%;
    height:100%;
    cursor:pointer;
    text-decoration:none;
    background:transparent url(../js/libs/fancybox/blank.gif);
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    z-index:8040
}

.fancybox-prev {
    left:0
}

.fancybox-next {
    right:0
}

.fancybox-nav span {
    position:absolute;
    top:50%;
    width:36px;
    height:34px;
    margin-top:-18px;
    cursor:pointer;
    z-index:8040;
    visibility:hidden
}

.fancybox-prev span {
    left:10px;
    background-position:0 -36px
}

.fancybox-next span {
    right:10px;
    background-position:0 -72px
}

.fancybox-nav:hover span {
    visibility:visible
}

.fancybox-tmp {
    position:absolute;
    top:-99999px;
    left:-99999px;
    visibility:hidden;
    max-width:99999px;
    max-height:99999px;
    overflow:visible!important
}

.fancybox-lock {
    overflow:hidden!important;
    width:auto
}

.fancybox-lock body {
    overflow:hidden!important
}

.fancybox-lock-test {
    overflow-y:hidden!important
}

.fancybox-overlay {
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    display:none;
    z-index:8010;
    background:url(../js/libs/fancybox/fancybox_overlay.png)
}

.fancybox-overlay-fixed {
    position:fixed;
    bottom:0;
    right:0
}

.fancybox-lock .fancybox-overlay {
    overflow:auto;
    overflow-y:scroll
}

.fancybox-title {
    visibility:hidden;
    font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position:relative;
    text-shadow:none;
    z-index:8050
}

.fancybox-opened .fancybox-title {
    visibility:visible
}

.fancybox-title-float-wrap {
    position:absolute;
    bottom:0;
    right:50%;
    margin-bottom:-35px;
    z-index:8050;
    text-align:center
}

.fancybox-title-float-wrap .child {
    display:inline-block;
    margin-right:-100%;
    padding:2px 20px;
    background:transparent;
    background:rgba(0,0,0,0.8);
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    text-shadow:0 1px 2px #222;
    color:#FFF;
    font-weight:700;
    line-height:24px;
    white-space:nowrap
}

.fancybox-title-outside-wrap {
    position:relative;
    margin-top:10px;
    color:#fff
}

.fancybox-title-inside-wrap {
    padding-top:10px
}

.fancybox-title-over-wrap {
    position:absolute;
    bottom:0;
    left:0;
    color:#fff;
    padding:10px;
    background:#000;
    background:rgba(0,0,0,0.8)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span {
        background-image:url(../js/libs/fancybox/fancybox_sprite@2x.png);
        background-size:44px 152px
    }

    #fancybox-loading div {
        background-image:url(../js/libs/fancybox/fancybox_loading@2x.gif);
        background-size:24px 24px
    }
}

#site-header {
    -webkit-font-smoothing:antialiased;
    background:#14153a;
    color:#fff;
    padding:14px
}

@media screen and (min-width: 701px) {
    #site-header {
        padding:14px 14px 30px
    }
}

.desktop-wrapper {
    margin:0 auto;
    max-width:1000px;
    position:relative
}

.social-nav span {
    font-size:14px;
    font-size:1.4rem;
    line-height:1.1;
    font-weight:700
}

.social-nav ul {
    float:right;
    list-style:none;
    font-size:0;
    line-height:0;
    position:relative
}

.social-nav li.social {
    color:transparent;
    font:0/0 a;
    text-shadow:none;
    width:24px;
    height:24px;
    float:right;
    margin-left:6px
}

.social-nav a {
    display: inline-block;
    width: 24px;
    height:24px;
}

.no-touch .social-nav li.social {
    -webkit-transition:opacity .15s ease-in-out;
    -moz-transition:opacity .15s ease-in-out;
    transition:opacity .15s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity:.5
}

.no-touch .social-nav li.social:hover {
    opacity:1
}

.social-nav li+li {
    margin-top:8px
}

.social-nav .phone {
    background-image:url(../img/social_circle_phone.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min--moz-device-pixel-ratio: 1.3),only screen and (-o-min-device-pixel-ratio: 1.3 1),only screen and (min-resolution: 125dpi),only screen and (min-resolution: 1.3dppx) {
    .social-nav .phone {
        background-image:url(../img/social_circle_phone@2x.png);
        background-size:24px 24px
    }
}

.social-nav .yelp {
    background-image:url(../img/social_circle_yelp.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min--moz-device-pixel-ratio: 1.3),only screen and (-o-min-device-pixel-ratio: 1.3 1),only screen and (min-resolution: 125dpi),only screen and (min-resolution: 1.3dppx) {
    .social-nav .yelp {
        background-image:url(../img/social_circle_yelp@2x.png);
        background-size:24px 24px
    }
}

.social-nav .facebook {
    background-image:url(../img/social_circle_facebook.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min--moz-device-pixel-ratio: 1.3),only screen and (-o-min-device-pixel-ratio: 1.3 1),only screen and (min-resolution: 125dpi),only screen and (min-resolution: 1.3dppx) {
    .social-nav .facebook {
        background-image:url(../img/social_circle_facebook@2x.png);
        background-size:24px 24px
    }
}

.logo {
    position:absolute;
    top:0;
    left:0;
    color:transparent;
    font:0/0 a;
    text-shadow:none;
    background-image:url(../img/na_fianna_logo.png);
    width:252px;
    height:61px;
    display:block
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min--moz-device-pixel-ratio: 1.3),only screen and (-o-min-device-pixel-ratio: 1.3 1),only screen and (min-resolution: 125dpi),only screen and (min-resolution: 1.3dppx) {
    .logo {
        background-image:url(../img/na_fianna_logo@2x.png);
        background-size:252px 61px
    }
}

.logo h1 {
    margin:0
}

@media screen and (min-width: 451px) {
    .logo {
        left:auto;
        top:0
    }
}

.main-nav-wrapper {
    *zoom:1;
    padding-top:106px
}

.main-nav-wrapper:before,.main-nav-wrapper:after {
    content:" ";
    display:table
}

.main-nav-wrapper:after {
    clear:both
}

@media screen and (min-width: 451px) {
    .main-nav-wrapper {
        padding-top:0;
        padding-bottom:36px
    }
}

@media screen and (min-width: 701px) {
    .main-nav-wrapper {
        padding-bottom:0
    }
}

.main-nav-wrapper .selectnav {
    width:100%;
    margin:0 auto
}

.main-nav-wrapper ul#main-nav {
    position:absolute;
    bottom:0;
    left:0;
    font-size:16px;
    font-size:1.6rem;
    line-height:1.1;
    list-style:none
}

.main-nav-wrapper ul#main-nav li {
    display:inline-block;
    vertical-align:baseline;
    zoom:1;
    *display:inline;
    *vertical-align:auto
}

.main-nav-wrapper ul#main-nav li:hover a {
    color:#fff
}

.main-nav-wrapper ul#main-nav li.active a {
    color:#fff;
    font-weight:700
}

.main-nav-wrapper ul#main-nav li+li {
    padding-left:.2em
}

.main-nav-wrapper ul#main-nav a {
    color:#e3e3e3;
    font-weight:400;
    text-decoration:none
}

@media screen and (min-width: 451px) {
    .main-nav-wrapper ul#main-nav li+li {
        padding-left:.75em
    }
}

@media screen and (min-width: 701px) {
    .main-nav-wrapper ul#main-nav {
        position:absolute;
        top:24px;
        left:280px
    }
}

@media screen and (min-width: 820px) {
    .main-nav-wrapper ul#main-nav {
        font-size:21px;
        font-size:2.1rem;
        line-height:1.1
    }
}

#site-footer,.site-footer__copyright {
    *zoom:1;
    -webkit-font-smoothing:antialiased;
    background:#000;
    color:#f9f9f9;
    padding:14px 14px 24px
}

#site-footer:before,#site-footer:after,.site-footer__copyright:before,.site-footer__copyright:after {
    content:" ";
    display:table
}

#site-footer:after,.site-footer__copyright:after {
    clear:both
}

#site-footer .desktop-wrapper,.site-footer__copyright .desktop-wrapper {
    max-width:1000px;
    margin:0 auto
}

.site-footer__about h1 {
    font-size:18px;
    font-size:1.8rem;
    line-height:1.1
}

.site-footer__about ul {
    list-style:none
}

.site-footer__about li {
    position:relative;
    margin-top:.33em
}

.site-footer__about i {
    display:inline-block;
    vertical-align:baseline;
    zoom:1;
    *display:inline;
    *vertical-align:auto;
    position:absolute;
    top:4px;
    left:0
}

.site-footer__about span,.site-footer__about a {
    display:block;
    padding-left:1.75em
}

.site-footer__form {
    margin-top:1.5em;
    padding-top:.5em;
    border-top:1px solid #555
}

.site-footer__form label {
    font-size:14px;
    font-size:1.4rem;
    line-height:1.7;
    display:block;
    font-weight:700
}

.site-footer__form input,.site-footer__form textarea {
    font-size:14px;
    font-size:1.4rem;
    line-height:1.3;
    font-family:georgia;
    width:100%;
    padding:.33em .25em;
    border:none;
    border-radius:3px
}

.site-footer__field {
    margin-top:.75em
}

.site-footer__field--submit button {
    border:1px solid #033f1e;
    border-radius:3px;
    box-shadow:inset 0 1px 0 0 #1bba63;
    color:#fff;
    display:inline-block;
    font-size:11px;
    font-weight:700;
    background-color:#0c7d3f;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0c7d3f),color-stop(100%,#034d25));
    background-image:-webkit-linear-gradient(#0c7d3f,#034d25);
    background-image:linear-gradient(#0c7d3f,#034d25);
    padding:7px 18px;
    text-decoration:none;
    text-shadow:0 1px 0 #012d14;
    background-clip:padding-box;
    font-size:18px;
    font-size:1.8rem;
    line-height:1.1;
    font-weight:100;
    padding-left:2em;
    padding-right:2em
}

.site-footer__field--submit button:hover:not(:disabled) {
    box-shadow:inset 0 1px 0 0 #148f4b;
    cursor:pointer;
    background-color:#0c6433;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0c6433),color-stop(100%,#033e1e));
    background-image:-webkit-linear-gradient(#0c6433,#033e1e);
    background-image:linear-gradient(#0c6433,#033e1e)
}

.site-footer__field--submit button:active:not(:disabled) {
    border:1px solid #033f1e;
    box-shadow:inset 0 0 8px 4px #033017,inset 0 0 8px 4px #033017,0 1px 1px 0 #eee
}

.site-footer__field--submit button:disabled {
    opacity:.5;
    cursor:not-allowed
}

.site-footer__copyright {
    -webkit-font-smoothing:antialiased;
    background:#3c3c3c;
    color:#f9f9f9;
    padding:14px 14px 24px
}

.site-footer__copyright .desktop-wrapper {
    max-width:1000px;
    margin:0 auto
}

@media screen and (min-width: 600px) {
    .site-footer__about {
        float:left;
        width:34%
    }

    .site-footer__form {
        float:right;
        width:62%;
        margin-top:0;
        padding-top:0;
        padding-left:4%;
        border-left:1px solid #555;
        border-top:none
    }

    .site-footer__field--name,.site-footer__field--email,.site-footer__field--tel {
        width:33.3333333%;
        float:left
    }

    .site-footer__field--name,.site-footer__field--email {
        padding-right:1%
    }

    .site-footer__field--email,.site-footer__field--tel {
        padding-left:1%
    }

    .site-footer__field--submit {
        text-align:right
    }
}

.interior-page {
    *zoom:1
}

.interior-page:before,.interior-page:after {
    content:" ";
    display:table
}

.interior-page:after {
    clear:both
}

.interior-page ul {
    margin:1em 0;
    list-style-position:outside;
    padding-left:20px
}

.interior-page__title {
    font-weight:100;
    margin:.25em 0
}

.main-content-well {
    *zoom:1;
    padding:0 14px
}

.main-content-well:before,.main-content-well:after {
    content:" ";
    display:table
}

.main-content-well:after {
    clear:both
}

@media screen and (min-width: 600px) {
    .main-content-well {
        float:left;
        width:76%;
        padding-right:2%;
        border-right:1px dotted #ccc
    }
}

@media screen and (min-width: 1000px) {
    .main-content-well {
        padding:0 28px
    }
}

.interior-page__body a {
    text-decoration:underline
}

.interior-page__body p+p {
    margin:1em 0 0
}

.interior-page__body li ul {
    margin:0
}

.sidebar {
    font-size:14px;
    font-size:1.4rem;
    line-height:1.4;
    margin-top:28px;
    padding:14px;
    border-top:1px dotted #ccc
}

.sidebar p {
    margin-top: 1em;
}

.sidebar ul {
    font-size:16px;
    font-size:1.6rem;
    line-height:1.4;
    list-style:none;
    margin:0;
    padding:0
}

.sidebar ul + .sidebar-block {
    margin-top: 2em;
}

.sidebar li {
    line-height:1.2
}

.sidebar li.active a {
    font-weight:700
}

.sidebar li+li {
    padding-top:.5em;
    margin-top:.5em;
    border-top:1px solid #fff
}

.sidebar li a {
    font-weight:100
}

.sidebar li a:hover {
    text-decoration:none
}

@media screen and (min-width: 600px) {
    .sidebar {
        background:none;
        border-top:none;
        padding-top:0;
        float:right;
        width:24%;
        padding-left:2%
    }

    .sidebar li+li {
        padding-top:.375em;
        margin-top:.375em
    }
}

.homepage-slider {
    margin:12px;
    max-width:1000px
}

@media screen and (min-width: 960px) {
    .homepage-slider {
        margin:0 auto 12px
    }
}

.homepage-slider ul {
    box-shadow:0 0 5px 0 rgba(0,0,0,0.5)
}

.homepage-slider figure {
    margin:0
}

.homepage-slider figure img {
    float:left
}

.homepage-slider figure p {
    -webkit-transition:font-size .15s ease-in-out;
    -moz-transition:font-size .15s ease-in-out;
    transition:font-size .15s ease-in-out;
    font-size:18px;
    font-size:1.8rem;
    line-height:1.3;
    font-weight:100;
    -webkit-font-smoothing:antialiased;
    color:#fff;
    position:absolute;
    left:0;
    bottom:0;
    width:100%
}

.homepage-slider figure p span {
    display:inline-block;
    vertical-align:baseline;
    zoom:1;
    *display:inline;
    *vertical-align:auto;
    padding:.2em .5em;
    margin-top:.5em;
    background-color:rgba(0,0,0,0.75)
}

@media screen and (min-width: 450px) {
    .homepage-slider figure p {
        font-size:24px;
        font-size:2.4rem;
        line-height:2
    }
}

@media screen and (min-width: 600px) {
    .homepage-slider figure p {
        font-size:32px;
        font-size:3.2rem;
        line-height:2
    }
}

@media screen and (min-width: 768px) {
    .homepage-slider figure p {
        font-size:42px;
        font-size:4.2rem;
        line-height:2
    }
}

.homepage-featured-works-block {
    *zoom:1;
    -webkit-font-smoothing:antialiased;
    position:relative;
    max-width:1000px;
    margin:48px 14px 0
}

.homepage-featured-works-block:before,.homepage-featured-works-block:after {
    content:" ";
    display:table
}

.homepage-featured-works-block:after {
    clear:both
}

@media screen and (min-width: 960px) {
    .homepage-featured-works-block {
        margin:24px auto 0
    }
}

.homepage-featured-works-block h1 {
    font-size:14px;
    font-size:1.4rem;
    line-height:1.1;
    margin:0;
    padding-bottom:8px;
    border-bottom:1px solid #c3c3c3;
    text-transform:uppercase
}

.homepage-featured-works-block figure {
    display:inline-block;
    vertical-align:baseline;
    zoom:1;
    *display:inline;
    *vertical-align:auto;
    *zoom:1;
    background:#fff;
    position:relative;
    margin:0
}

.homepage-featured-works-block figure:before,.homepage-featured-works-block figure:after {
    content:" ";
    display:table
}

.homepage-featured-works-block figure:after {
    clear:both
}

.homepage-featured-works-block figure:hover p {
    opacity:1
}

.homepage-featured-works-block figure:hover img {
    opacity:.8
}

.homepage-featured-works-block figure img {
    -webkit-transition:opacity .25s ease-in-out;
    -moz-transition:opacity .25s ease-in-out;
    transition:opacity .25s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    float:left
}

.homepage-featured-works-block figure p {
    -webkit-transition:opacity .75s ease-in-out;
    -moz-transition:opacity .75s ease-in-out;
    transition:opacity .75s ease-in-out;
    font-size:16px;
    font-size:1.6rem;
    line-height:1.3;
    -webkit-font-smoothing:antialiased;
    color:#fff;
    position:absolute;
    left:0;
    top:47%;
    width:100%;
    text-align:center;
    opacity:0
}

.homepage-featured-works-block__viewall {
    position:absolute;
    top:0;
    right:0;
    font-size:14px;
    font-size:1.4rem;
    line-height:1.1
}

.homepage-featured-works-block__viewall:after {
    content:" »"
}

.homepage-featured-works-block__featured-works {
    margin-top:1em
}

.homepage-featured-works-block__featured-works a {
    display:block
}

@media screen and (min-width: 480px) {
    .homepage-featured-works-block__tall {
        float:left;
        width:50%;
        padding-right:1%
    }

    .homepage-featured-works-block__small-blocks--row1 {
        float:right;
        width:50%;
        padding-left:1%;
        font-size:0;
        line-height:0
    }

    .homepage-featured-works-block__small-blocks--row1 figure {
        margin-top:6%
    }

    .homepage-featured-works-block__small-blocks--row1 a:first-child figure {
        margin-top:0
    }

    .homepage-featured-works-block__small-blocks--row2 {
        *zoom:1
    }

    .homepage-featured-works-block__small-blocks--row2:before,.homepage-featured-works-block__small-blocks--row2:after {
        content:" ";
        display:table
    }

    .homepage-featured-works-block__small-blocks--row2:after {
        clear:both
    }

    .homepage-featured-works-block__small-blocks--row2 a {
        float:left;
        width:50%;
        margin-top:2%;
        padding-right:1%
    }

    .homepage-featured-works-block__small-blocks--row2 a+a {
        padding-left:1%;
        padding-right:0
    }
}

@media screen and (min-width: 768px) {
    .homepage-featured-works-block__tall {
        width:34%
    }

    .homepage-featured-works-block__small-blocks--row1,.homepage-featured-works-block__small-blocks--row2 {
        width:64%;
        float:right;
        padding:0
    }

    .homepage-featured-works-block__small-blocks--row1 a,.homepage-featured-works-block__small-blocks--row2 a {
        float:left;
        width:50%;
        margin-top:3%;
        padding-right:1%
    }

    .homepage-featured-works-block__small-blocks--row1 a+a,.homepage-featured-works-block__small-blocks--row2 a+a {
        padding-left:1%;
        padding-right:0
    }

    .homepage-featured-works-block__small-blocks--row1 figure,.homepage-featured-works-block__small-blocks--row2 figure {
        margin-top:0
    }

    .homepage-featured-works-block__small-blocks--row1 a {
        margin-top:0
    }
}

.our-work-list ul {
    *zoom:1;
    list-style:none;
    padding:0;
    margin:0
}

.our-work-list ul:before,.our-work-list ul:after {
    content:" ";
    display:table
}

.our-work-list ul:after {
    clear:both
}

.our-work-list li {
    font-size:14px;
    font-size:1.4rem;
    line-height:1.3
}

.our-work-list li:hover img {
    opacity:.7
}

.our-work-list li+li {
    margin-top:2.5em
}

.our-work-list h2 {
    font-size:16px;
    font-size:1.6rem;
    line-height:1.1;
    margin-top:.5em
}

.our-work-list p {
    margin-top:.33em
}

.our-work-list img {
    -webkit-transition:opacity .25s ease-in-out;
    -moz-transition:opacity .25s ease-in-out;
    transition:opacity .25s ease-in-out
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.our-work-list .our-work-list__performed {
    font-size:13px;
    font-size:1.3rem;
    line-height:1.1
}

.our-work-list a {
    display:block;
    color:inherit;
    font-weight:inherit;
    text-decoration:inherit
}

@media screen and (min-width: 480px) {
    .our-work-list ul {
        margin-right:-3%
    }

    .our-work-list li {
        float:left;
        width:50%;
        padding:0 3% 3% 0
    }

    .our-work-list li:nth-child(2n+1) {
        clear:left
    }

    .our-work-list li:nth-child(n+3) {
        margin-top:1em
    }

    .our-work-list li+li {
        margin-top:0
    }
}

.work-detail__gallery {
    margin-top:1em
}

.work-detail__gallery h2 {
    font-size:21px;
    font-size:2.1rem;
    line-height:1.1
}

.work-detail__gallery ul {
    list-style:none;
    padding:0;
    margin:1em 0 0
}

.work-detail__gallery li {
    float:left;
    margin:0 3.35% 3.35% 0
}

.interior-page__form label {
    display:block
}

.interior-page__form input,.interior-page__form textarea {
    width:100%;
    padding:.2em .33em;
    border:1px solid #c3c3c3;
    border-radius:3px
}

.interior-page__form button {
    border:1px solid #033f1e;
    border-radius:3px;
    box-shadow:inset 0 1px 0 0 #1bba63;
    color:#fff;
    display:inline-block;
    font-size:11px;
    font-weight:700;
    background-color:#0c7d3f;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0c7d3f),color-stop(100%,#034d25));
    background-image:-webkit-linear-gradient(#0c7d3f,#034d25);
    background-image:linear-gradient(#0c7d3f,#034d25);
    padding:7px 18px;
    text-decoration:none;
    text-shadow:0 1px 0 #012d14;
    background-clip:padding-box;
    font-size:18px;
    font-size:1.8rem;
    line-height:1.1;
    font-weight:100;
    padding-left:1.5em;
    padding-right:1.5em
}

.interior-page__form button:hover:not(:disabled) {
    box-shadow:inset 0 1px 0 0 #148f4b;
    cursor:pointer;
    background-color:#0c6433;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0c6433),color-stop(100%,#033e1e));
    background-image:-webkit-linear-gradient(#0c6433,#033e1e);
    background-image:linear-gradient(#0c6433,#033e1e)
}

.interior-page__form button:active:not(:disabled) {
    border:1px solid #033f1e;
    box-shadow:inset 0 0 8px 4px #033017,inset 0 0 8px 4px #033017,0 1px 1px 0 #eee
}

.interior-page__form button:disabled {
    opacity:.5;
    cursor:not-allowed
}

.interior-page__form--contact-form {
    margin-top:1.5em
}

@media screen and (min-width: 768px) {
    .interior-page__form--contact-form .contact-form__left {
        float:left;
        width:30%
    }

    .interior-page__form--contact-form .contact-form__left .contact-form__field {
        margin-top:.33em
    }

    .interior-page__form--contact-form .contact-form__left .contact-form__field.contact-form__field--name {
        margin-top:0
    }

    .interior-page__form--contact-form .contact-form__right {
        float:right;
        width:68%
    }

    .interior-page__form--contact-form .contact-form__field--submit {
        float:right
    }
}

.interior-page__form--contact-form .contact-form__field--message {
    margin-top:0
}

.contact-form__field {
    margin-top:1em
}

@media print {
    * {
        background:transparent!important;
        color:#000!important;
        box-shadow:none!important;
        text-shadow:none!important
    }

    a,a:visited {
        text-decoration:underline
    }

    a[href]:after {
        content:" (" attr(href) ")"
    }

    abbr[title]:after {
        content:" (" attr(title) ")"
    }

    .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
        content:""
    }

    pre,blockquote {
        border:1px solid #999;
        page-break-inside:avoid
    }

    thead {
        display:table-header-group
    }

    tr,img {
        page-break-inside:avoid
    }

    img {
        max-width:100%!important
    }

    @page {
        margin:.5cm
    }

    p,h2,h3 {
        orphans:3;
        widows:3
    }

    h2,h3 {
        page-break-after:avoid
    }
}